<h1>Hello Rachid you're in rails project</h1>
<p>To be continue...</p>

<p>This is a dynamic content : <%= @time %></p>

<p><%= 1.hour.from_now %></p>

<p>
  <%= link_to "Disconnect", say_goodbye_path %> 
</p>
