Dear <%= @order.name %>
Thank you for your recent order from The Pragmatic Store.
You ordered the following items:
<table>
<tr>
  <th colspan="2" >Qty</th>
  <th>Description</th>
</tr>
  <%= render @order.line_items %>
</table>
We'll send you a separate e-mail when your order ships.